.addSong{
  display: none;
margin: 10px;

  transition: all .4s;
  padding:8px;
  padding-top: 15px;
  border-radius: 10px;
  margin-bottom:20px;
  box-shadow: 0px 2px 10px black;
}
  .addd:target .addSong {
    display: block;
    opacity: 1;
  }
  .inputf{
    width: 100%;
    padding: 0px 0;
    font-size: 14px;
    color: black;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }
.plate{
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 0px;


}
.inputss{
  display: flex;
  flex-wrap: wrap;
}
.addSong label{
  cursor: pointer;
  font-size: small;
}

 .addSong a{
   cursor: pointer;
   padding: 2px 10px;
   background-color: transparent;
   border-radius: 10px;
   border: 1px solid black;
 }
 
 .addSong .but{
   margin-top: 20px;
  display: flex;
  justify-content: space-around;
 }
 @media screen and (max-width:1000px) {
   .addSong{
    margin: 20px auto;
     width: 85%;
   }
   .inputFields{
     margin: 0px;
     display: flex;
     justify-content:space-evenly;
   }
   .plat p{
     display: inline-block;
   }
   .inputss{
     margin: 0px;
     display: flex;
     justify-content: center;
   }
   .addSong input,label{
     display: inline;
     width: 40%;
   }
   .addSong .but{
     margin: 0px;
   }
 }